.home-container {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    // background: rgb(34,193,195);
    // background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    width: 100% !important;
    height: 100%;
    .content-container {
        width: 100vw !important;
        height: 100%;
        .content-lhs {
            color: whitesmoke;
            .hero-heading {
                font-size: 46px;
            }
        }
    
        .content-rhs {
            .action-card {
                color: whitesmoke;
                background: rgb(39, 39, 39);
                // background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(196,70,252,1) 100%);
                min-width: 300px;
                min-height: 300px;

                .action-line-item {
                    .line-item-icon {
                        min-width: 40px;
                        width: 40px;
                    }

                    .line-item-content {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}